<script type="text/template" class="report-template">
  <table class="summary-data-table basic-table">
    <thead>
      <tr class="header-one sortable-header">
        <% _.each(data.fieldNames, function(fieldName, idx) { %>
          <th class="center-header">
            <%= fieldName %>
            <% if (idx === data.fieldNames.length - 1) { %>
              <span
                id="closeTable"
                class="table-action cf-icon cf-icon-delete"
              />
            <% } %>
          </th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% _.each(data.rows, function(row) { %>
        <tr>
          <% _.each(data.fieldNames, function(fieldName) { %>
            <td><%= row[fieldName] %></td>
          <% }); %>
        </tr>
      <% }); %>
    </tbody>
  </table>
</script>
