<div class="search-field" id="metro-search">
  <label for="msa-search">Select an MSA:</label>
  <br/>
  <input type="text" id="msa-search" name="q">

  <br/><br/>

  <form action="{% url 'map' %}" method="GET">
    <input type="hidden" name="lender" value="{{institution_id}}">
    <input type="hidden" name="year" value="{{year}}">
    <input type="hidden" name="metro">
    <button type="submit" class="btn btn__disabled" disabled>Select</button>
  </form>
</div>

<br/>
<p>- or -</p>
<br/>

<div class="search-field" id="county-search">
  <label for="county-search__state">Select a County:</label>
  <br />
  <select id="county-search__state" name='state'>
    {% for state in states %}
      <option data-abbr="{{state.abbr}}" value="{{state.fips}}">
        {{state.name}}
      </option>
    {% endfor %}
  </select>
  <br/>
  <input type="text" name="q">

  <br/><br/>

  <ul class="selected-counties"></ul>
  <form action="{% url 'map' %}" method="GET">
    <input type="hidden" name="lender" value="{{institution_id}}">
    <input type="hidden" name="year" value="{{year}}">
    <input type="hidden" name="county">
    <button type="submit" class="btn btn__disabled" disabled>Select</button>
  </form>
</div>
