{% load analytical staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'base.min.css' %}" />
        <script type="text/javascript" src="{% static 'basestyle/js/vendor.min.js' %}"></script>
        {% block head_styles %}{% endblock %}
        {% block head_scripts %}
        {% endblock %}
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        {% block body %}{% endblock %}
        {% block foot_scripts %}{% endblock %}
        {% analytical_body_bottom %}
    </body>`
</html>
