{% extends "basestyle/map_layout.html" %}
{% load staticfiles %}

{% block title %}{{ APP_TITLE }} - {{lender}}{% endblock %}

{% block head_styles %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{% static 'map.min.css' %}" />

{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{% static 'mapping/js/map-vendor.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'basestyle/js/mapbox.standalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/table.min.js' %}"></script>  
{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}


{% block main_content %}
<div id="map-container" style="z-index: 10;">
    <div id="map">
    {% include 'partial/map_key.html'%}    
    </div>
</div>
{% endblock %}


{% block data_content %}
<div id="data-container">
    <div id="table-container">
        <div id="tableLoadImage"><h6>Loading Table Data</h6><p>(This may take a few moments...)</p><img  src="/static/basestyle/img/icon_spinner_2x.gif"> </div>
    </div>
</div>    
{% include 'partial/summary_table_templates.html'%}

{% endblock %}

{% block foot_scripts %}
    
    <script>

        /* 
          ---- YEAR ----
        */

        window.selectedYear = {{year}};
        window.avgPerThousandHouseholds = {{avg_per_thousand_households|default:0}};

        /* 
          ---- MAPBOX / LEAFLET CODE ----
        */
        
        // Size the map container for the window size
        setMapHeight();
        
        // Our Mapbox public token so we can load all these fun layers
        L.mapbox.accessToken = '{{ MAPBOX_TOKEN }}';
        
        // Initialize the map
        var map = L.map('map', {attributionControl: false});
        
        // If we have a metro parameter, center the map on this lat / lon
        {% if metro %}
            map.setView(["{{metro.centlat}}", "{{metro.centlon}}"], 11);
        {% else %}
            // Otherwise, somewhere near Chicago for grins
            map.setView([40, -74.50], 11);
        {% endif %}
        
        // Using our modified Leaflet-Hash plugin, check to see if we need to move the map somewhere else.
        var hash = new L.Hash(map),
            hashCheck = hash.parseHash(hash),
            loadParams = getHashParams();
            console.log("Hash Check: ", hashCheck);

        // If the hash already has parameters, change the view to be those exact coordinates
        if( typeof hashCheck.params != 'undefined') {
            map.setView([hashCheck.params.lat.values, hashCheck.params.lon.values], hashCheck.params.zoom.values );
        }

        // Set our map options after it's been created and centered
        map.options.maxZoom = 12;
        map.options.minZoom = 7;
        map.options.inertia = false;

        var commonConfig = { errorTileUrl: '/static/basestyle/img/0.png' };
        var layers = {
          Water: L.mapbox.tileLayer('cfpb.FL_WATER_all_US', commonConfig),
          Centroids: L.layerGroup([]),
          Branches: L.layerGroup([]),
        };
        if (selectedYear <= 2013) {
          layers.Boundaries = L.mapbox.tileLayer('cfpb.4da32f68', commonConfig);
          layers.CountyLabels = L.mapbox.tileLayer('cfpb.becdd200', commonConfig);
          layers.MSALabels = L.mapbox.tileLayer('cfpb.5de9fd0f', commonConfig);
        } else {
          layers.Boundaries = L.mapbox.tileLayer('cfpb.4a612b0a', commonConfig);
          layers.CountyLabels = L.mapbox.tileLayer('cfpb.5cc6733d', commonConfig);
          layers.MSALabels = L.mapbox.tileLayer('cfpb.434952df', commonConfig);
        }

        // This array allows us to remove them from the map when a new one is
        // selected (later)
        var minorityLayers = [];

        // Baselayers are created here and show up in our layer selector on
        // the screen as radio buttons
        var baseLayers = {};

        function addLayer(idx, layer) {
          var key = layer.short_name;
          switch (layer.layer_type) {
            case 'v4': {
              layers[key] = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v4/'
                + layer.style_name + '/{z}/{x}/{y}.png?access_token='
                + L.mapbox.accessToken);
              break;
            }
            case 'short_name': {
              layers[key] = L.mapbox.tileLayer(layer.style_name, commonConfig);
              break;
            }
            case 'api_style': {
              layers[key] = L.tileLayer(
                'https://api.mapbox.com/styles/v1/'
                + layer.style_name + '/tiles/{z}/{x}/{y}?access_token='
                + L.mapbox.accessToken, commonConfig);
              break;
            }
          }
          if (layer.interaction === 'metrics') {
            minorityLayers.push(layers[key]);
          } else if (layer.interaction === 'base') {
            baseLayers[layer.name] = layers[key];
          }
        }

        var layerAttrs = {{ layer_attrs|safe }};
        $.each(layerAttrs, addLayer);

        var baseLayerAttrs = {{ base_layer_attrs|safe }};
        $.each(baseLayerAttrs, addLayer);
        var defaultBaseLayer = layers[baseLayerAttrs[0].short_name];

        // Overlay layers show up as checkboxes and can be enabled at the same time using the layer selector
        var overlays = {
            'Water': layers.Water,
            'Boundaries': layers.Boundaries,
            'MSA Labels': layers.MSALabels,
            'County Labels': layers.CountyLabels,
            'LAR Circles': layers.Centroids
        };

        // Setup the minimap
        var miniLayer = new L.mapbox.TileLayer('cfpb.k55b27gd', {minZoom: 0, maxZoom: 13 });
        var miniMap = new L.Control.MiniMap(miniLayer, {'height': 120, 'width': 120, 'position': 'bottomleft' }).addTo(map);

        // Add all our primary default layers to the map up front
        defaultBaseLayer.addTo(map);
        layers.Water.addTo(map);
        layers.Boundaries.addTo(map);
        layers.CountyLabels.addTo(map);

        // Create a layer for our circles
        layers.Centroids.addTo(map);
        // Create a layer for Branch Locations
        layers.Branches.addTo(map);

        // Add our +/- and layer controls to the top left
        L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map); 
        // Add a mile scale
        L.control.scale().addTo(map);
        
        // Make sure water and boundaries are above everything else
        layers.Water.bringToFront();
        layers.Boundaries.bringToFront();
        layers.CountyLabels.bringToFront();

        if( map.hasLayer(layers.MSALabels) ){
            layers.MSALabels.bringToFront();
        }

        // Add the HTML Template key as a key in the top right
        var key = L.control();
        key.onAdd = function() {
            return L.DomUtil.get('key');
        };
        key.setPosition('topright');
        key.addTo(map);
 
        var utfGrid = new L.UtfGrid('http://{s}.tiles.mapbox.com/v3/cfpb.FL_BASE-DATA_2012_MSA/{z}/{x}/{y}.grid.json?callback={cb}');
        utfGrid.addTo(map);

    /* 
      END MAPBOX / LEAFLET CODE
    */


        
    </script>
    <script type="text/javascript" src="{% static 'respondents/js/metro-search.min.js' %}"></script>

{% endblock %}
