{% extends "basestyle/one_column_layout.html" %}
{% load geo_search %}
{% load static %}

{% block title %}Select a metropolitan statisical area (MSA) for {{institution.formatted_name}}{% endblock %}

{% block head_styles %}

{% endblock %}


{% block main_content %}
<div class="search-home">
    <div >
        <div class="search-title-column1">
            <div class="circlelabel">2</div>
        </div>
        <div class="search-title-column2">
              <h3>Find a location to create a HMDA Visualization Map</h3>
        </div>
    </div>
    
    <p>&nbsp;</p>

    <p>You have selected: <span class="institution-name" >{{institution.formatted_name}}</span></p>
    <p>To create a map of its {{year}} mortgage applications and
    originations,</p>

    {% geo_search institution.pk year %}
</div>
{% endblock %}


{% block foot_scripts %}

    <script type="text/javascript" src="{% static 'respondents/js/metro-search.min.js' %}"></script>

{% endblock %}
